---
layout: page
title: "资产"
description: "最后更新：2018/12/20"
header-img: "img/home-bg.jpg"
---
<hr>


#资产列表

|名字|日期|价格|经办人|
| ----- | ----- | ----- | ----- |
{% for asset in site.data.asset %} {% if asset.visible == true %}
|{{asset.name}}|<a href="{{asset.url}}" title="link">{{asset.date}}</a>|{{asset.price}}|{{asset.trader}}|
{% endif %}{% endfor %}

<table>
  <thead>
    <tr>
      <th>名字</th>
      <th>日期</th>
      <th>价格</th>
      <th>第三轮</th>
      <th>经办人</th>
    </tr>
  </thead>
  <tbody>


{% for asset in site.data.asset %} {% if asset.visible == true %}
    <tr>
<td>{{asset.name}}</td><td><a href="{{asset.url}}" title="link">{{asset.date}}</a></td><td>{{asset.price}}</td><td>{{asset.trader}}</td>
    </tr>
{% endif %}{% endfor %}


  </tbody>
</table>
#心愿单

## 德国心脏病

## 犯罪现场

## 只言片语/奥德赛

## 矮人矿坑

## 卡坦岛/卡卡颂

## 七个奇迹

## 三国杀