---
layout: page
title: "资产"
description: "最后更新：2018/12/20"
header-img: "img/home-bg.jpg"
---
<hr>



<h1>资产列表</h1>

<table>
  <thead>
    <tr>
      <th>名字</th>
      <th>日期</th>
      <th>价格</th>
      <th>第三轮</th>
      <th>经办人</th>
    </tr>
  </thead>
  <tbody>


{% for asset in site.data.assets %} {% if asset.visible == true %}
    <tr>123
<td>{{asset.name}}</td><td><a href="{{asset.url}}" title="link">{{asset.date}}</a></td><td>{{asset.price}}</td><td>{{asset.trader}}</td>
    </tr>
{% endif %}{% endfor %}


  </tbody>
</table>

<h1>资产列表</h1>

<ul>
<li>德国心脏病</li>
<li>犯罪现场</li>
<li>只言片语/奥德赛</li>
<li>矮人矿坑</li>
<li>卡坦岛/卡卡颂</li>
<li>七个奇迹</li>
<li>三国杀</li>
</ul>